li {
  list-style: none;
}
.container-fluid {
  color: #fff;
}

.img-fluid {
  border-radius: 45px;
  -webkit-box-shadow: 6px 6px 15px 2px rgba(7, 7, 7, 0.83);
  box-shadow: 6px 6px 15px 2px rgba(7, 7, 7, 0.83);
}

.badge {
  background-color: #32de8a !important;
  color: #000;
}

.card {
  background-color: #0d1321 !important;
}
