<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="h2 my-4 text-center">Sobre o Desenvolvedor</h1>

      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <img src="https://avatars.githubusercontent.com/u/52542914?s=400&u=058a0d759deeb44e9c857117e32f5900089e36f9&v=4" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <h2 class="mt-5">Pedro Luiz Souza Salvino</h2>
            <small class=" h6">Estudante de Sistemas para Internet</small>
            <div>
              <ul>
                <li class="my-3 ">
                  <span class="badge py-2 px-3 rounded-pill">Matrícula</span>&nbsp;&nbsp;&nbsp;0050831921022
                <li class="my-3 ">
                  <span class="badge  py-2 px-3 rounded-pill">E-mail</span>&nbsp;&nbsp;&nbsp;<a
                    href="mailto:pedro.salvino@fatec.sp.gov.br">pedro.salvino@fatec.sp.gov.br</a>
                </li>
                <li class="my-3 ">
                  <span class="badge  py-2 px-3 rounded-pill">GitHub</span>&nbsp;&nbsp;&nbsp;<a
                    href="https://github.com/PedroSalvino">PedroSalvino</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>