<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="text-center my-4">Gerador de Números Aleatórios</h1>
      <p class="h4 text-center my-2">Sempre que precisar de números aleatórios clique em "Gerar"</p>
      <div class="d-grid col-6 mx-auto my-3">
        <button class="btn btn-warning" (click)="gerarNumeroAleatorio()">Gerar</button>
      </div>
      <hr>
      <table class="table table-striped table-hover table-light">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Números Aleatórios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let num of gerarNumeroAleatorio(); index as i">
            <td scope="row" class="text-center">{{i+1}}</td>
            <td class="text-center">{{num}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>