<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1 class="text-white text-center my-4">Bem-vindo(a), Visitante!</h1>
      <div class="card-group my-3">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1605870445919-838d190e8e1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" alt="">
          <div class="card-body">
            <h2 class="h4 card-title text-center">Gerador de Números Aleatórios</h2>
            <p class="card-text text-center">
              Aqui você poderá gerar diversos números aleatórios!
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid col-8 mx-auto">
              <a [routerLink]="['/numeros']" class="btn btn-success btn-lg">Acessar</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="">
          <div class="card-body">
            <h2 class="h4 card-title text-center">Conheça o Dev!</h2>
            <p class="card-text text-center">
              Saiba mais sobre o desenvolvedor da aplicação!
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid col-8 mx-auto">
              <a [routerLink]="['/sobre']" class="btn btn-outline-success btn-lg">Conhecer</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>